/vendor
/node_modules
/public/storage
/storage/*.key
/storage/*.log
/storage/framework/*
/storage/logs/*
/.env
.phpunit.result.cache
.phpunit.cache
composer.lock
*.log

/public/build
/public/hot

/.idea
/.vscode


Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
